<h2 style="color: #B00100; margin: 0 auto">edit item</h2> <br/>

<%= form_tag item_path(@item), method: :patch do %>
  <%= label_tag :name %>
  <%= text_field_tag :name, @item.name %>
  <%= label_tag :price %>
  <%= text_field_tag :price, @item.price %>
  <%= label_tag :description %>
  <%= text_field_tag :description, @item.description %>
  <%= submit_tag "Update", class: "btn btn-large btn-primary" %>
  <br>
  <br>
  <br>
  <%= link_to "CANCEL", item_path(@item) %>
<% end %>