<h2 style="text-align: left; color: red">all item</h2>

<% unless @items.empty? %>
  <p style="text-align: center">
    <%= button_to "NEW ITEM @_@", new_item_path, style: "color: #4cf200; text-align: center", method: :get  %>
  </p>
  <table class="my_table">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Rating</th>
      <th>image</th>
      <th>DELETE</th>
    </tr>
    <% @items.each do |item| %>
      <tr>
        <th><%= item.id %></th>
        <th><%= button_to item.name, item_path(item), method: :get %></th>
        <th><%= item.price %></th>
        <th><%= item.description %></th>
        <th><%= item.votes_count %><%= button_to '+', upvote_item_path(item), method: :get %></th>
         <th><%= urls_to_content(item.description) %></th>
        <th><%= button_to 'delete', item_path(item), method: :delete, style: "color: red" %></th>
      </tr>
    <% end %>

  </table>
  <p style="text-align: left">
    <%= button_to "only expensive $$$", expensive_items_path, style: "color: blue", method: :get  %>
  </p>
  <p style="text-align: left">
    <%= button_to "go to all item", items_path, style: "color: blue", method: :get  %>
  </p>
  <%= button_to 'admin panel', admin_users_count_path, style: "color: gray", method: :get%>
<% else %>
  <h1 style="text-align: left; color: red">NO ITEM or HIDDEN ITEMS /0_0\</h1>
  <p style="  text-align: center">
    <%= button_to "NEW ITEM @_@", new_item_path, style: "color: #black; text-align: center", method: :get  %>
  </p>
<% end %>

<%= render partial: 'shared/email' %>





