<div>

<h2 style="color: #B00100; margin: 0 auto">create new item</h2> <br/>

<%= simple_form_for @item do |f| %>
  <%= f.input :name,  input_html: { class: "form-text" } %>
  <%= f.input :price, input_html: { class: "form-text" }, required: true %>
  <%= f.input :description, label: t("item.description") , input_html: { class: "form-text" }%>
    <br>
  <%= f.button :submit, class: "btn-primary" %>
<% end %>


<%= render partial: 'shared/email' %>

</div>