<h2  style="color: #B00100; margin: 0 auto">show item</h2> <br/>

<h4><%= @item.name %></h4>

<ul>
  <li>Price: <%= @item.price %> $ </li>
  <li>Weight: <%= @item.weight %></li>
  <li>Description: <%= @item.description %></li>
</ul>
<br>
<%= link_to "EDIT #{@item.name}", edit_item_path%>
<br>
<br>
<%= link_to "BACK", items_path %>
<br>
<br>
<%= button_to "delete #{@item.name}", item_path(@item), method: :delete, style: "color: red" %>