<!DOCTYPE html>
<html>
  <head>
    <title>RailsCourse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('1.jpg') %>
  </head>

  <body>

  <!--devise-->
<%= render 'include/auth/auth_header' %>
  <!--devise-->

  <div class="jumbotron vertical-center">
       <div class="container">
         <h2 style="color: #B00100;">User Panel</h2>
         <%= render 'include/main/notFication' %>
         <%= yield %>
       </div>
     </div>
  </body>
  <h3> shop 24/7 </h3>
</html>

